* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

@font-face {
  font-family: 'Druk';
  src: url('fonts/DrukWide-Bold-Web.eot'); /* IE9 Compat Modes */
  src: url('fonts/DrukWide-Bold-Web.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/DrukWide-Bold-Web.woff') format('woff');
}

@font-face {
  font-family: 'Chapter';
  src: url('fonts/Chapter-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Chapter-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Chapter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('fonts/3A0A54_0_0.eot'); /* IE9 Compat Modes */
  src: url('fonts/3A0A54_0_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/3A0A54_0_0.woff') format('woff');
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-family: 'Arial Narrow', sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Druk';
  /* font-size: 75px; */
  font-size: calc(24px + (45 - 24) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
}

h2 {
  font-family: 'Chapter';
  /* font-size: 60px; */
  font-size: calc(35px + (60 - 35) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
  line-height: 1.15em;
}

h3 {
  font-family: 'Druk';
  /* font-size: 50px; */
  font-size: calc(24px + (50 - 24) * ((100vw - 300px) / (1600 - 300)));
}

h4 {
  font-family: 'Arial Narrow', sans-serif;
  /* font-size: 60px; */
  font-size: calc(35px + (40 - 35) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  line-height: 1.15em;
  text-transform: capitalize;
}

h5 {
  font-family: 'Arial Narrow', sans-serif;
  font-weight: 300;
  /* font-size: 18px; */
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
}

h6 {
  font-family: 'Arial Narrow';
  font-weight: 500;
  /* font-size: 30px; */
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)))
  letter-spacing: 2px;
}

/* div.cursor {
  position: absolute;
  width: 300px;
  height: 450px;
  background-image: url(lib/virtually.png);
  background-repeat: no-repeat;
  z-index: 10000;
} */

/* a:hover {
  cursor: none !important;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 50px 50px 50px 50px; */
  /* cursor: none; */
}

section.8-ball {
  top: 0;
  left: 0;
  width: 100%;
}

canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1
}

/* Title ======================  */
section.title {
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  border-top: 1px solid black;

  padding: 0px 0px 0px 30px;
}

div.title-heading {

}

section.title span {
  display: none;
}

div.contact {
  z-index: 1000;
}

div.contact a{
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(75px);
}

div.contact svg.contactSVG {
  width: 200px;
  fill: #000;
  stroke: #000;
}

div.contact p {
  transform: translateX(-160px) translateY(-5px);
  font-family: 'Chapter';
  font-size: 30px;
  font-weight: 400;
  letter-spacing: .003px;
}

/* Description & Copyright ===================  */

section.description {
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  padding: 0px 30px 0 30px;

  border-bottom: 1px solid black;
}

div.description-bio {
 width: 70%;
 padding: 0px 15px 0 0px;
}

section.description span {
  display: none;
}

div.copyright {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.copyright img {
  transform: rotate(20deg);
  width: 20vw;
  height: auto;
  z-index: 0;
}


/* Tasks & Location ===========================  */

section.tasks {
  width: 100vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  padding: 0px 30px 0 30px;

  border-bottom: 1px solid black;
}

div.task-buttons {
  width: 60%;
  padding: 0px 200px 0 0px;
}

div.task-buttons h5 {
  margin-bottom: 24px;
}

section span {
  background-color: #000;
  width: 1px;
  height: 100%;
}

div.location {
  width: 40%;
  text-align: center;

  padding: 0px 0px 0px 15px;
}

div.location h5 {
  margin-bottom: 24px;
}

div.location h4 {
  font-size: calc(35px + (35 - 35) * ((100vw - 300px) / (1600 - 300)));
}



/* Clock =========================  */

section.clock {
  display: flex;
  width: 100vw;
  height: 10vh;
  padding: 0px 30px 0px 30px;

  align-items: center;
  justify-content: space-between;

  font-family: 'Arial Narrow';
  font-weight: 500;
  /* font-size: 30px; */
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)));

  letter-spacing: 2px;

  border-bottom: 1px solid black;
}

/* Media Queries ====================  */
@media only screen and (max-width: 1024px) {

  /* div.cursor {
    display: none;
  } */

  /* Header ==================  */
  section.title {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 0px 0px 0px;
  }

  div.title-heading {
    padding: 1.5em 15px 1.5em 15px;
  }

  section.title span {
    display: block;
    background-color: #000;
    width: 100%;
    height: 1px;
  }

  div.contact a {
    padding: .75px 15px .75px 15px;
    transform: translateX(55px);
  }

  div.contact svg.contactSVG {
    width: 150px;
  }

  div.contact p {
    transform: translateX(-125px) translateY(-2px);
    font-family: 'Chapter';
    font-size: 25px;
  }

  /* Description & Copyright ===================  */

  section.description {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 0px 0px 0 0px;

    border-bottom: 1px solid black;
  }

  div.description-bio {
   width: 100%;
   padding: 1.5em 15px 1.5em 15px;
  }

  section.description span {
    display: block;
    background-color: #000;
    width: 100%;
    height: 1px;
  }

  div.copyright {
    width: 30%;
    padding: 1.5em 0px 1.5em 0px;
  }

  div.copyright img {
    transform: rotate(20deg);
    width: 40vw;
    height: auto;
  }

/* Tasks and Location ========================= */

section.tasks {
  width: 100%;
  height: auto;
  padding: 0px 0px 0 0px;
  flex-direction: column;
  border-bottom: 1px solid black;
}

div.task-buttons {
  width: 100%;
  padding: 1.5em 15px 1.5em 15px;
}

div.task-buttons h5 {
  margin-bottom: 15px;
}

section.tasks span {
  background-color: #000;
  width: 100%;
  height: 1px;
}

div.location {
  width: 100%;
  text-align: left;
  padding: 1.5em 15px 1.5em 15px;
}

div.location h3 {
  margin-bottom: 15px;
}

/* Clock =========================  */

section.clock {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 0px 0px 0px 0px;

  align-items: center;
  justify-content: center;

  font-family: 'Roboto';
  font-weight: 500;
  /* font-size: 30px; */
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));

  letter-spacing: 2px;

  border-bottom: 1px solid black;
}

section.clock span {
  background-color: #000;
  width: 100%;
  height: 1px;
}

section.clock div {
  padding: .5em 15px .5em 15px;
}


}
